.Container {
    display: flex;
    flex-direction: column;

}

.Container {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: white; */
}


.NavarWrapper {
    display: flex;
    height: 64px;
    max-width: 90%;
    font-family: "Monserrant";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.NavarWrapper .NavbarBody {

    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    color: #343434;
    justify-content: center;
}


.NavbarBody {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.NavarWrapper .active_link {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    width: 30%;
    height: 50px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    color: #343434;
    font-family: 'SF Pro Display';
}

.NavarWrapper .AutButton {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.NavarWrapper .SigUp {
    width: 140px;
    padding: 5px 10px;
    text-align: center;
    background-color: #1DD1A1;
    cursor: pointer;
    border-radius: 3px;
    color: white;
    border: none;
}

.NavarWrapper .SigUp:active {
    transform: scale(0.98);
    opacity: 0.7;
}

.NavarWrapper.Auth {
    width: 30%;
    height: 100%;
}

.NavarWrapper .userProfile {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: black;
    padding: 1px 0;
}

.NavarWrapper .SearchPart {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;


}

.NavarWrapper .SearchPart p {
    height: 100%;
    padding: 0px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    border-left: 1px solid #ABABAB;
    border-right: 1px solid #ABABAB;
    margin-top: 10px;
}


.SearchIcon {
    font-size: 20px;
    color: #ABABAB;
    align-self: center;
    cursor: pointer;

}

.NavarWrapper .SearchIcon:hover {
    color: rgb(85, 85, 85);
}

.NavarWrapper .UserPart {
    display: flex;
    justify-content: center;
    align-items: center;
}

 .UserImg {
    width: 32px;
    height: 32px;
    border-radius: 6px;
    margin: 0px 10px;
    overflow: hidden;
    cursor: pointer;
}

 .UserImg img {
    width: 100%;
    height: 100%;
}

 .UserItem {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

 .UserItem p:nth-child(1) {
    position: relative;
    font-family: 'SF Pro Display';
    font-size: 16px;
    line-height: 17px;
    font-weight: bolder;
    color: #343434;
    top: 20px;
}

 .UserItem p:nth-child(2) span {
    font-family: 'SF Pro Display';
    font-size: 12px;
    line-height: 14px;
    margin: 0px 5px;
    color: #ABABAB;
}

 .SettingPart p {
    height: 100%;
    padding: 0px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin-top: 10px;
}

 .MoreIcon {
    font-size: 25px;
    color: #ABABAB;
    align-self: center;
    cursor: pointer;

}

.MoreIcon:hover {
    color: rgb(85, 85, 85);
}


.MenuMore {
    width: 150px;
    border: 1px solid #ABABAB;

}

.MenuBill {
    width: 150px;
    border: 1px solid #ABABAB;

}