* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Container {
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content:center;
    /* margin-left: -20px; */
    background-color: white;
}
.Content {
    width: 80%;
    height: 60px;
    padding: 20px 0px;
    background-color: aqua;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.Content img {
    width: 170px;
    height: 40px;
}

.Main {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 150px;
}
.Main a{
    text-decoration: none;
}

.Language select {
    border: 1px solid white;
}

.Language button {
    width: 120px;
    height: 30px;
    border: 1px solid #32eab9;
    border-radius: 5px;
    background-color: #32eab9;
    color: white;
    margin-left: 50px;
}
.ItemMap {
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}